@import "./tailwind.css";
@import './sidebar.css';

body {
    @apply bg-slate-200 dark:bg-slate-800 transition;
    font-size: 16px;
}

body, .rv-cell, .rv-card {
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* 关闭 password 自带的显示隐藏功能 */
input[type="password"]::-ms-reveal{
    display: none;
}

:root {
    /* 桌面端的侧边栏宽度 */
    --kmp-sidebar-width: 256px;
    /* 移动端的底部操作栏高度 */
    --kmp-bottombar-height: 72px;
}

:root {
    --rv-font-size-xs: 12px !important;
    --rv-font-size-sm: 14px !important;
    --rv-font-size-md: 16px !important;
    --rv-font-size-lg: 18px !important;

    /* --rv-padding-base: 0.75rem !important;
    --rv-padding-xs: 1rem !important;
    --rv-padding-sm: 1.25rem !important;
    --rv-padding-md: 1.5rem !important;
    --rv-padding-lg: 1.75rem !important;
    --rv-padding-xl: 2rem !important;

    --rv-cell-vertical-padding: var(--rv-padding-xs) !important; */
}

:root[data-theme="dark"] {
    --rv-white: #334155;
    --rv-black: #e5e7eb;
    --rv-blue: #8589ff;
    --rv-gray-1: #0F172A;
    --rv-gray-2: #3C4A60;
    /* cell 分割线的颜色 */
    --rv-gray-3: #6D7A8F;
    --rv-gray-7: var(--rv-black);
    --rv-gray-8: var(--rv-black);
}

.remove-mark-color {
    @apply border-2 border-solid border-red-500 relative overflow-hidden;
}

.remove-mark-color::after{
    @apply bg-red-500 absolute;
    content: "";
    left: -1px;
    top: 9px;
    width: 24px;
    height: 2px;
    transform: rotateZ(45deg) scale(1);
}