.labelInput {
  @apply block py-2 pl-0 w-full transition;
}

.labelInput:global(.ant-input[disabled]) {
  cursor: default;
  color: inherit;
}

.settingDrawer :global(.ant-drawer-body) {
  padding: 0 !important;
}

.monthPickerItem {
  @apply text-center py-1;
}

.monthPickerItemActive {
  @apply rounded text-white;

  background: var(--cube-password-primary-button-color);
}

.monthPickerItemDisabled {
  @apply text-gray-300;
}

.listItem {
  @apply mx-2 mb-4 w-col-1 lg:w-col-2 xl:w-col-3;
  @apply ring-gray-300 dark:ring-gray-600 active:bg-gray-200 transition hover:ring cursor-pointer;
}

.fieldItemReadonly input, textarea.fieldItemReadonly {
  @apply !cursor-pointer;

  /** 把光标隐藏掉 */
  caret-color: transparent;
}

.passwordLockIcon {
  @apply relative h-11 w-11 text-7xl;
}

.passwordLockIcon::after {
  @apply absolute right-[-18px] bottom-[-8px] text-5xl;
  content: '🗝️';
}

.totpLockIcon {
  @apply relative h-11 w-11 text-7xl;
}

.totpLockIcon::after {
  @apply absolute right-[-18px] bottom-[-8px] text-5xl;
  content: '📱';
}
